<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Dono</th>
        <th>Idade</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @pessoas.each do |pessoa| %>
        <tr>
          <td><%= link_to pessoa.nome, pessoa_path(pessoa) %></td>
          <td><%= pessoa.data_de_nascimento %></td>
          <td><%= link_to 'Adicionar Novo Animal', new_pessoa_animal_path(pessoa), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>