<div class="container mt-5">
  <% if @animals.sum(:custo_mensal) > 1000 %>
    <h2>Seu custo excedeu R$ 1000,00. Você não pode ter mais animais </h2>
  <% else  %>
    <%= render 'form' %>
  <% end %>
</div>


